.jumbotron {
    text-align: center;
    font-size: 50px;
    text-decoration: wavy;
    color: purple;
    text-shadow: 0px 0px 5px;
    padding-top: 50px;
    margin-bottom: 30px;
}

body {
  text-align: center;
    background-color: #E9ECEF;
}


.card {
    height: 250px;
    width: 180px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(42, 40, 40);
    margin-left: 250px;
    margin-right: 50px;
    

}


footer {
    height: 80px;
    background-color: rgba(128, 128, 128, 0.222);

}

button {
    height: 45px;
    width: 250px;
    color: blueviolet;
    box-shadow: 1px 0px 5px;
    text-align: center;
  
}